module.exports = {
  required: { // These must be changed for test cases to pass
    mysql: {
      hostname: 'testHostname',
      username: 'testUsername',
      password: '',
      database: 'testDatabase'
    },
    site: {
      baseURL: '',
      secretKey: ''
    },
    steam: {
      apiKey: 'testApiKey'
    }
  },
  optional: {
    site: {
      defaultPage: '/matches'
    },
    user: {
      userMaxMatches: 1000,
      userMaxServers: 10,
      userMaxTeams: 100
    }
  },
  dev: { // These should not be changed
    site: {
      debug: false,
      testing: true
    }
  }
};
